.box{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: xx-large;
}

.Parent{
    display: flex;
    flex-direction: column;
    height: 200vh;
    justify-content: end;
}

body{
    background-color: rgb(0, 195, 255);
}