
.container {
  display: flex;
  flex-direction: row-reverse; 
  justify-content: center;    
  gap: 15px;                
  margin-top: 50px;
}

.item {
  background-color: #81c784;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  width: 60px;
  border-radius: 8px;
}
